body {
  margin: 0px;
  padding: 0px;
  font-family: "Yanone Kaffeesatz", sans-serif;
  color: rgba(0, 0, 0, 0.5);

  /* text-transform: uppercase; */
  /* top: 15%; */
  background: linear-gradient(to right, red, yellow); /* Standard syntax */
}
.container {
  text-align: center;
}
h1 {
  font-size: 4rem;
  color: rgba(0, 0, 0, 0.637);
  text-align: center;
  width: 100%;
}

h3 {
  color: rgba(0, 0, 0, 0.5);
  text-align: center;
  text-transform: none;
  letter-spacing: 0.01em;
}

.lable {
  display: inline-block;
  font-size: 1.3em;
}

input {
  margin: 0.5em 0.5em 0.5em 0em;
  width: 50px;
  height: 30px;
}

[type="radio"] {
  display: inline-block;
  width: 15px;
  height: 15px;
  margin-right: 0.5em;
}

button {
  padding: 1em;
  width: 200px;
  height: 65px;
  font-size: 1.2em;
  font-family: "Yanone Kaffeesatz", sans-serif;
  border: 5px solid rgba(0, 0, 0, 0.5);
  border-radius: 20px;
  background-color: #333;
  color: white;
}

.githublogo {
  
  width: 100%;
  padding: 0em;
  display: flex;
  justify-content: center;
}
/* 
.githublogo > a{
  justify-items: center;
} */

.githublogo > a >img{
  height: 150px;
  width: auto;
  
}
