body {
  font-family: "Yanone Kaffeesatz", sans-serif;
  color: rgba(0, 0, 0, 0.5);
  text-align: center;
  /* text-transform: uppercase; */
  top: 15%;
  background: linear-gradient(to right, red, yellow); /* Standard syntax */
}

h1 {
  font-size: 5rem;
  color: rgba(0, 0, 0, 0.5);
  text-align: center;
  /* text-transform: uppercase; */
  width: 100%;
}

h3 {
  color: rgba(0, 0, 0, 0.5);
  text-align: center;
  text-transform: none;
  letter-spacing: 0.01em;
}
input {
  margin: 1em;
  width: 50px;
  height: 30px;
}
button {
  padding: 1em;
  width: 150px;
  height: 75px;
  font-size: 0.9em;
  font-family: "Yanone Kaffeesatz", sans-serif;
  border: 5px solid rgba(0, 0, 0, 0.5);
  border-radius: 40px;
  background-color: rgba(0, 0, 0, 0.5);
}
